.contact__wrapper {
  background-color: #f8fafc;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    flex-basis: 100%;
    padding: 4em;
  }
}

.contact__section h2,
.contact__header h2 {
  font-size: 2.5rem;
}

.contact__section h2 {
  color: white;
}

.contact__section img {
  display: flex;
  width: 100%;
  height: auto;
}

.contact__us {
  .contact__header p {
    padding-top: 0.5em;
    padding-bottom: 2em;
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .contact__wrapper {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
      padding: 1em 1.5em;
    }
  }

  .contact__section img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .contact__item {
    flex-direction: column;

    .item__logo {
      margin-right: 0 !important;
    }

    .item__detail p {
      text-align: center;
    }
  }
}
