.about__wrapper {
  min-height: 80vh;
  background: url('../../images/backgrounds/bg-03.png');
  background-color: #f8fafc;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  align-items: center;
}

.about__title {
  padding-bottom: 2em;

  h2 {
    color: black;
    font-size: 3em;
    font-weight: 500;
    text-align: left;
  }
}

.about__content {
  p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
  }
}

@media screen and (max-width: 900px) {
  .about__wrapper {
    background: #f8fafc;
    padding: 5em 0;
  }
}
