body,
html {
  overflow-x: hidden;
}

body {
  background-color: #f7f7fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: rgb(50, 50, 50);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  width: min(90%, 70.5rem);
}
